sphinx==4.5.0 
rinohtype 
pygments
six
gitpython
sphinx-rtd-theme
sphinxcontrib-mermaid
sphinx-tabs==3.3.1
sphinxcontrib-details-directive
sphinx-markdown-parser
pymdown-extensions
git+https://github.com/bashtage/sphinx-material.git
